.vscode/
.idea/
*.swp
*.swo

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

*.pem
*.key
*.crt
.env.local
.env.*.local